#title {
	position: absolute;
	top: -10px;
	right: 15px;
}

#module {
	background: rgb(83, 83, 83);
	padding-top: 90px;
}

#the-select {
	margin-left: 110px;
}

#the-select select {
	width: 160px;
	margin-left: 25px;
}

#the-select #examDate {
	margin-left: 100px;
}

#div-begin {
	text-align: right;
	padding: 10px;
	cursor: pointer;
	margin-top: 50px;
}

.form-group {
	margin-bottom: 0px;
}